@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v21-latin-800.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  background: lightgray;
  font-family: "Poppins", "sans-serif";
  display: flex;
  justify-content: center;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  padding: 100px;
  letter-spacing: 25%;
}

.card {
  max-width: 840px;
  padding: 56px;
  background: #f1f1f1;
  border-radius: 24px 24px 200px 24px;
  form {
    display: flex;
    gap: 32px;

    .red {
      color: red;
      h5 {
        color: red;
      }
      input {
        border: 1px solid red;
      }
    }
  }
}
.box {
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 8px;
  h5 {
    color: #716f6f;
  }
}

input {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1%;
  padding-left: 24px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  height: 72px;
  &::placeholder {
    font-size: 32px;
    font-weight: 700;
  }
  &:hover {
    border: 1px solid #854dff;
    cursor: pointer;
  }
}
.section {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .line {
    color: #dcdcdc;
    height: 1px;
    width: 632px;
  }
  button {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #854dff;
    border: none;
    cursor: pointer;
    &:hover {
      background: #151515;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  li {
    height: 114px;
    font-size: 104px;
    font-weight: 800;
  }
  span {
    color: #854dff;
  }
}
